.product-item {
    display: inline-block;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    transition: all .3s;
    min-height: 400px;
    width: 100%;

    &:hover &__hover-text {
        opacity: 1;
        color: #2F3035;
    }

    &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        border-color: #fff;
        color:#1C62CD;
    }

    
    &__notify-text {
        display: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }

    &__notify-link {
        display: none;
    }


    &--sale::before {
        content: 'SALE';
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        text-transform: uppercase;
        font-weight: 400;
        padding: 6px 16px 8px;
        background-color: #1C62CD;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
    }

    &__hover-text {
        display: inline-block;
        padding: 18px 21px;
        background-color: rgba(255, 255, 255, .9);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        position: absolute;
        top: 30%;
        opacity: 0;
        transition: all .3s;
    }

    &__wrapper {
        position: relative;
        width: 271px;
        transition: all .3s;
        
        &--list {
            width: 100%;
        }
    }

    &__favorite {
        position: absolute;
        top: 16px;
        right: 19px;
        background-color: transparent;
        border: none;
        z-index: 5;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 22px;
            background-image: url(../../images/heart-deffolt.svg);
            top: 0;
            left: 0;
            transition: all .3s;
        }
        &--active {
            &::before {
                background-image: url(../../images/heart-active.svg);
            }
        }
    }


    &__title {
        padding: 14px 0 25px;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
    }

    &__price {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        font-family: 'Barlow', sans-serif;
    }

    &__basket {
        border:none;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #1C62CD;
        border-radius: 10px 0px 0px 0px;
        padding: 10px 15px 5px;
        cursor: pointer;
        z-index: 10;
    }

    &__img {
        max-width: 100%;
    }
}

.products {
   .tabs {
        margin-bottom: 50px;
    }

    &__tab+&__tab {
        margin-left: 50px;
    }

    &__tab {
        padding-bottom: 10px;
    }

    &__tab.tab--active {
        border-bottom: 2px solid #1C62CD;
    }
}

.product__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 25px;
}

.product__more {
    text-align: center;
    margin-top: 35px;
}

.product__more-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background: #F0F0F4;
    padding: 17px 43px 15px;
    display: inline-block;
    text-align: center;
}


.product-slider {
    &__slider {
    
        &-btnprev {
            left: -50px;
        }
    
        &-btnnext {
            right: -30px;
        }
    }
}


.product-item__wrapper.product-item__not-avilable .product-item__price {
    display: none;
}
.product-item__wrapper.product-item__not-avilable .product-item__notify-text {
    display: block;
}
.product-item__wrapper.product-item__not-avilable .product-item__basket {
    display: none;
}

.product-item__wrapper.product-item__not-avilable .product-item__notify-link {
    display: block;
    position: absolute;
    bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 19px;
    color: #1C62CD;
}

.product-item__wrapper.product-item__not-avilable .product-item__notify-link span {
    border-bottom: 1px solid #1C62CD;
}

.product-item__wrapper.product-item__not-avilable .product-item__title {
    padding-bottom: 13px;
}

.product-item:hover .product-item__notify-text {
    color: #2F3035;
}